{% load static %}
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="path/to/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="https://www.freeiconspng.com/uploads/experience-information-image-job-knowledge-concept-icon-symbol-5.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'img/avatarLogo.jpg' %}>
    <title>{% block title %} {% endblock title %}</title>

  </head>
  <body><span>
   
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #E5E5E5;">
        <a class="navbar-brand" href="/">
        <img src="media/images/a.png" width="120" height="35"></img>
        <strong></strong>
        
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto ">
            <li class="nav-item {% block home_navbar %} {% endblock %}">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% block preview_navbar %} {% endblock %}">
              <a class="nav-link" href="#">Search services</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item {% block login_navbar %} {% endblock %}">
              <a class="nav-link" href="{% url 'profile' %}"> welcome {{user.type}}</a> 
            </li>
            <li class="nav-item ">
            <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-dark btn-sm">Log out</button>
            </form>
            </li>
            {% else %}
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'user_login' %}">login</a> 
            </li>
            <li class="nav-item {% block signup_navbar %} {% endblock %}">
              <a class="nav-link" href="{% url 'signup' %}">sign up here</a> 
            </li>
            {% endif %}
            <li class="nav-item {% block contactus_navbar %} {% endblock %} ">
                <a class="nav-link" href="contact">Contact us</a>
            </li>
            
            </div>
            </ul>
            
        </div>
      </nav>
      </span>
<style>
.navbar-nav{
    margin-right: 50px;
    font-weight: 600;
    text-transform: uppercase;
}
.footer{
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.btn-sm{
  {% comment %} min-width: 1.0em;
    padding: .10em !important;
    margin-left: .1em;
    margin-right: .1em;
    color: white !important; {% endcomment %}
    margin-top: .4em;
    cursor: pointer;
}


</style>

        
    {% block body %}
    {% endblock body %}

     <!-- Footer -->
<span>
<footer class="text-center text-lg-start bg-light text-muted ">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Insta Bio Maker
          </h6>
          <p>
           This is this best and easy Instagram bio Maker. Use This tool for instagram or for any other social media Applications.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Bio Maker</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Instagram quotes</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Faridabad, Haryana, India</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            Jhasapna544@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +91 99999999</p>
          <p><i class="fas fa-print me-3"></i> +91 99999999</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    Copyright &copy; reserved | All rights reserved | Created by Shivam jha

    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Instabiomaker.com</a>
  </div>
  <!-- Copyright -->
</footer>
</span>
<!-- Footer -->

     

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="your_directory/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>